@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --tipo-principal: "Open Sans", Arial, sans-serif;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 16px;
  font-family: var(--tipo-principal);
}

:root {
  --bg-primary: #292b2f;
  --bg-secundary: #18191c;
  --color-primary: #e3e3e3;
  --color-secundary: #4f5053;
  --blue: #5865f2;
  --green: #3ba55c;
}

body {
  width: 100%;
  background: #181818;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  width: 90%;
  max-width: 400px;
  background: var(--bg-primary);
  border-radius: 20px;
  overflow: hidden;
}
.profile-card__banner {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.profile-card__img-banner {
  width: 100%;
}
.profile-card__avatar {
  width: 100px;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translate(10px, -60px);
  background: var(--bg-primary);
  border-radius: 50%;
}
.profile-card__img-avatar {
  width: 100%;
  border-radius: 50%;
}
.profile-card__text-avatar {
  position: absolute;
  background: rgba(10, 10, 10, 0.4);
  width: 5.63rem;
  height: 5.63rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 700;
  opacity: 0;
  transition: opacity ease 0.2s;
  cursor: pointer;
}
.profile-card__text-avatar:hover {
  opacity: 1;
}
.profile-card__status {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--bg-primary);
  padding: 5px;
  overflow: hidden;
  transform: translate(130%, 130%);
}
.profile-card__icon-status {
  background: var(--green);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-card__badges {
  display: inline-flex;
  background: var(--bg-secundary);
  padding: 5px 10px;
  border-radius: 5px;
  gap: 10px;
  width: 120px;
  align-items: center;
  position: relative;
  top: -60px;
  left: 40%;
}
.profile-card__badge {
  flex-basis: 16px;
}

.user-information {
  width: 90%;
  margin: auto;
  position: relative;
  top: -20px;
  background: var(--bg-secundary);
  border-radius: 10px;
  color: var(--color-primary);
  padding: 20px;
}
.user-information__username-alias {
  padding: 10px;
  border-bottom: 1px solid var(--color-secundary);
}
.user-information__alias {
  font-size: 1.8rem;
  font-weight: 700;
}
.user-information__username {
  font-size: 0.8rem;
  color: var(--color-secundary);
}
.user-information__wrap-scroll {
  width: 100%;
  overflow: auto;
  height: 200px;
}
.user-information__wrap-scroll::-webkit-scrollbar {
  width: 5px;
}
.user-information__wrap-scroll::-webkit-scrollbar-thumb {
  background: var(--color-secundary);
  border-radius: 4px;
}
.user-information__h3 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.user-information__about-me {
  padding: 10px;
}
.user-information__member-from {
  padding: 10px;
}
.user-information__dates {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
.user-information__icon {
  width: 1.8rem;
  height: 1.8rem;
}
.user-information__icon img {
  border-radius: 50%;
}
.user-information__roles {
  padding: 10px;
}
.user-information__rol {
  background: var(--bg-primary);
  border-radius: 3px;
  padding: 0 5px;
  cursor: pointer;
}
.user-information__note {
  padding: 10px;
}
.user-information__p--note {
  font-size: 0.8rem;
  color: var(--color-secundary);
  width: 90%;
  margin: auto;
  cursor: pointer;
}
.user-information__message {
  padding: 10px;
  width: 100%;
}
.user-information__input-message {
  width: 100%;
  font-size: 1rem;
  border: 1px solid var(--color-secundary);
  padding: 10px;
  border-radius: 5px;
  outline: none;
}
.user-information__input-message::-moz-placeholder {
  font-size: 0.9rem;
  font-weight: 500;
}
.user-information__input-message:-ms-input-placeholder {
  font-size: 0.9rem;
  font-weight: 500;
}
.user-information__input-message::placeholder {
  font-size: 0.9rem;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .profile-card__badges {
    left: 35%;
  }
}